
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', monospace;
    font-size: 20px;
}

<<<<<<< HEAD
/* New windows */
=======
>>>>>>> ca190112274d6c49be81dc156edeff785ba6f253
#main
{
    border: 2px solid darkcyan;
    margin: 20px auto;
    top: 5px;
    width: 500px;
    min-height: 200px;
    text-align: center;
}

#main ul
{
    list-style: inside;
    list-style-type: circle;
    margin: 5px;
}

#main input[type='button']
{
    border-radius: 30%;
    margin: 3px auto;

}

#main ul li
{
    margin-left: 5px;
    text-align: justify;
    margin-top: 3px;
<<<<<<< HEAD
}
/* ***************************************************************************************** */

/* Đồng hồ điện tử */
.clock
{
    width: 400px;
    min-height: 100px;
    margin: 20px auto;
    border: 2px solid purple;
    text-align: center;
}

.clock h3
{
    color: red;
    margin-bottom: 20px;
    margin-top: 10px;
}

.clock input[type='button']
{
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100px;
}

.clock input[type='text']
{
    margin-bottom: 20px;
    width: 340px;
    text-align: center;
    color: darkcyan;
}

#myClock
{
    text-align: center;
}

/* ***************************************************************************************** */

/* Opacity */
#ptbHai
{
    display: block;
    margin: 100px auto;
    width: 800px;
    height: 600px;
    transform: rotate(90deg);
}

/* ***************************************************************************************** */
=======
}
>>>>>>> ca190112274d6c49be81dc156edeff785ba6f253
